<h1>Show Event</h1>
<ul>

  <li>
    <strong>Description:</strong>
    <%= @event.description %>
  </li>

  <li>
    <strong>Starts at:</strong>
    <%= @event.starts_at %>
  </li>

  <li>
    <strong>Ends at:</strong>
    <%= @event.ends_at %>
  </li>

</ul>

<span><%= live_redirect "Back", to: Routes.event_index_path(@socket, :index, date: @ref_date) %></span>
