<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Calendar7", suffix: " · Calendar7" %>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="bg-teal-100">
    <nav class="flex max-w-screen-md mx-auto justify-between items-center px-4 h-16">
      <p><a href="/">Calendar7</a></p>
      <div class="pl-4 flex-shrink min-w-0">
        <%= if Pow.Plug.current_user(@conn) do %>
          <div class="flex justify-end">
            <p class="flex-shrink min-w-0 truncate mr-4"> <%= get_user(Pow.Plug.current_user(@conn), :email) %></p>
            <p class="flex-shrink-0"><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></p>
          </div>
        <% else %>
          <span><%= link "Sign in", to: Routes.pow_session_path(@conn, :new), class: "mr-4" %></span>
          <span><%= link "Register", to: Routes.pow_registration_path(@conn, :new) %></span>
        <% end %>
      </div>
    </nav>

    <div class="max-w-screen-md mx-auto px-4">
      <%= @inner_content %>
    </div>

  </body>
</html>
